<!-- ./templates/date_input.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Input</title>
</head>
<body>
    <form
        action="/"
        method="POST"
        enctype="application/x-www-form-urlencoded"
    >
        <label for="id_d">Your date:</label>
        <input
            id="id_d"
            name="d"
            type="date"
            pattern="\d{2,4}-\d{1,2}-\d{1,2}"
            value="1969-06-21"
        ><br>
        <input
            type="submit"
            value="compute distance to today">
    </form>
    <hr>
    <!-- results in a conditional Jinja2 template -->
    {% if response_available is defined %}
    <ul>
        <li>Distance in days: {{d_days}}</li>
        <li>Distance in days: {{d_hours}}</li>
    </ul>
    {% endif %}
</body>
</html>